<div class="container">
    <form>
      <div>
        <input [(ngModel)]="input" (keypress)="validate($event)" name="input">
      </div>
      <div>
        <button (click)="pressKey($event.target.innerHTML)">0</button>
        <button (click)="pressKey($event.target.innerHTML)">1</button>
        <button (click)="pressKey($event.target.innerHTML)">+</button>
        <button (click)="pressKey($event.target.innerHTML)">-</button>
      </div>
      <div>
        <button (click)="result()" class="equal-button">=</button>
        <button (click)="clear()">CE</button>
      </div>
    </form>
</div>
